body{
    background:url("/pic/wallpaper2.jpg");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.regform{
    width:600px;
    background-color: rgba(0,0,0,.4);
    margin:150px auto 250px auto;
    color:white;
    padding:20px 20px 20px 20px;
    font-size:25px;
}
.regform h1{
    text-align: center;
   color:brown;
}
.input label{
    display:block;
}
.input input{
    width:100%;
    font-size: 1.5em;
    border:2px solid green;
    border-radius: 5px;
    box-shadow: 2px;
    padding:5px 10px;
    box-sizing:border-box;
    margin:10px 0px;
}
input:focus{
    background-color:green;
}
.btn{
    text-align:center;
}
.btn button{
    background-color: green;
    font-size: 1em;
    color:white;
    padding:10px 10px;
    margin:20px 0px 0px 0px;
    border-radius: 10px;
    border:1px solid greenyellow;
}
.radio input{
        accent-color:rgb(98, 231, 98);
        transform:scale(1.6);
}
